#button-id-142-:active, #button-id-142-.active { color: rgb(0, 0, 0); }

#button-id-142-:hover, #button-id-142-.hover { color: rgba(0, 0, 0, 0.498); }

#button-id-142- { min-height: 38px; margin: unset; color: rgb(0, 0, 0); font-size: 15px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background-color: rgba(255, 255, 255, 0); width: auto; font-family: futura; }

#container-id-125- { min-height: 150px; margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: 100%; }

#container-id-125- > :last-child, #container-id-125- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-125- > * { margin-right: 0px !important; margin-bottom: 4px !important; }

#text-id-124- { margin: unset; background-color: rgba(0, 0, 0, 0); letter-spacing: 0.18000000189332402px; line-height: 26px; font-size: 18px; font-family: futura; color: rgb(35, 35, 35); width: 100%; }

#element-id-122- { font-style: italic; font-weight: 300; }

#text-id-120- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 394px; letter-spacing: 0.20000001317576357px; line-height: 28.8888891119706px; font-size: 20px; font-family: futura; color: rgb(35, 35, 35); font-weight: 700; }

#container-id-113- > * { margin-right: 0px !important; margin-bottom: 4px !important; }

#container-id-113- > :last-child, #container-id-113- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-113- { min-height: 150px; margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: 100%; }

#text-id-112- { margin: unset; background-color: rgba(0, 0, 0, 0); letter-spacing: 0.18000000189332402px; line-height: 26px; font-size: 18px; font-family: futura; color: rgb(35, 35, 35); width: 100%; left: 0px; }

#element-id-110- { font-style: italic; font-weight: 300; }

#text-id-108- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 394px; letter-spacing: 0.20000001317576357px; line-height: 28.8888891119706px; font-size: 20px; font-family: futura; color: rgb(35, 35, 35); font-weight: 700; }

#container-id-77- > * { margin-right: 40px !important; margin-bottom: 0px !important; }

#container-id-77- > :last-child, #container-id-77- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-77- { min-height: 176px; margin: unset; background-color: rgba(238, 238, 238, 0); width: 940px; flex-direction: row; align-items: flex-start; justify-content: flex-start; left: 80px; top: 512.5px; position: absolute; }

#text-id-76- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 394px; letter-spacing: 0.18000000189332402px; line-height: 26px; font-size: 18px; font-family: futura; color: rgb(35, 35, 35); }

#element-id-74- { font-style: italic; font-weight: 300; }

#text-id-72- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 394px; letter-spacing: 0.20000001317576357px; line-height: 28.8888891119706px; font-size: 20px; font-family: futura; color: rgb(35, 35, 35); font-weight: 700; }

#container-id-71- > * { margin-right: 0px !important; margin-bottom: 4px !important; }

#container-id-71- > :last-child, #container-id-71- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-71- { min-height: 150px; margin: unset; background-color: rgba(238, 238, 238, 0); width: 400px; flex-direction: column; align-items: flex-start; justify-content: flex-start; }

#text-id-70- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 394px; letter-spacing: 0.18000000189332402px; line-height: 26px; font-size: 18px; font-family: futura; color: rgb(35, 35, 35); }

#text-id-69- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 394px; letter-spacing: 0.20000001317576357px; line-height: 28.8888891119706px; font-size: 20px; font-family: futura; color: rgb(35, 35, 35); font-weight: 700; }

#container-id-68- > * { margin-right: 0px !important; margin-bottom: 4px !important; }

#container-id-68- > :last-child, #container-id-68- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-68- { min-height: 150px; margin: unset; background-color: rgba(238, 238, 238, 0); width: 400px; flex-direction: column; align-items: flex-start; justify-content: flex-start; }

#text-id-67- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 299px; letter-spacing: 0.18000000189332402px; line-height: 26px; font-size: 18px; font-family: futura; }

#text-id-66- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 616px; letter-spacing: 0.4800000020435878px; line-height: 54px; font-size: 48px; font-family: futura; color: rgb(35, 35, 35); }

#element-id-2- { font-weight: 400; }

#ui-canvas { background-position: center center; }

#container-id-0- { min-height: 460px; position: absolute; margin: unset; background-color: rgb(238, 238, 238);
  width: 38.63636363636363%;
  left: 7.2727272727272725%; top: 114px; }

#container-id-1- { min-height: auto; position: absolute; margin: unset; background-color: rgb(255, 255, 255);
  width: 43.45454545454545%;
  left: 45.909090909090914%; top: 470px; padding: 26px 40px; }

#container-id-2- { min-height: 190px; position: absolute; margin: unset; background-color: rgb(255, 255, 255); width: 623px;
  left: calc(61.04545454545455% - 623px / 2); top: 174px; padding: 40px; }

#container-id-3- { min-height: 31px; position: absolute; margin: unset; background-color: rgba(238, 238, 238, 0);
  width: 38.81818181818182%;
  left: 7.2727272727272725%; top: 37px; flex-direction: row; align-items: center; justify-content: space-between; }

#container-id-3- > :last-child, #container-id-3- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-3- > * { margin-right: 4px !important; margin-bottom: 0px !important; }

#text-id-7- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 616px; font-family: futura; color: rgb(35, 35, 35); letter-spacing: 0.35999999195337296px; line-height: 40.5px; font-size: 36px; }

#text-id-8- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 394px; letter-spacing: 0.18000000189332402px; line-height: 26px; font-size: 18px; font-family: futura; color: rgb(35, 35, 35); }

#text-id-11- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 299px; letter-spacing: 0.18000000189332402px; line-height: 26px; font-size: 18px; font-family: futura; }

#container-id-5- { min-height: 32px; position: absolute; margin: unset; background-color: rgb(35, 35, 35);
  width: 59.63636363636363%;
  left: 40.36363636363636%; top: 285px; }

#container-id-6- { min-height: 32px; position: absolute; margin: unset; background-color: rgb(35, 35, 35);
  width: 59.63636363636363%;
  left: 40.36363636363636%; top: 339px; }

#container-id-4- { min-height: 176px; position: absolute; margin: unset; background-color: rgba(238, 238, 238, 0);
  width: 85.45454545454545%;
  left: 7.2727272727272725%; top: 607px; flex-direction: column; align-items: flex-start; justify-content: flex-start; }

#text-id-9- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 394px; letter-spacing: 0.20000001317576357px; line-height: 28.8888891119706px; font-size: 20px; font-family: futura; color: rgb(35, 35, 35); font-weight: 700; }

#text-id-12- { margin: unset; background-color: rgba(0, 0, 0, 0); letter-spacing: 0.18000000189332402px; line-height: 26px; font-size: 18px; font-family: futura; color: rgb(35, 35, 35); width: 100%; left: 0px; }

#container-id-4- > :last-child, #container-id-4- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-4- > * { position: static; margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-13- { min-height: 150px; margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: 100%; }

#container-id-13- > :last-child, #container-id-13- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-13- > * { margin-right: 0px !important; margin-bottom: 4px !important; }

#text-id-21- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 616px; letter-spacing: 0.4800000020435878px; line-height: 54px; font-size: 48px; font-family: futura; color: rgb(35, 35, 35); }

#text-id-23- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 299px; letter-spacing: 0.18000000189332402px; line-height: 26px; font-size: 18px; font-family: futura; }

#text-id-27- { margin: unset; background-color: rgba(0, 0, 0, 0); width: auto; letter-spacing: 0.18000000189332402px; line-height: 20.25px; font-size: 18px; font-weight: 700; font-family: futura; color: rgb(35, 35, 35); }

#text-id-28- { margin: unset; background-color: rgba(0, 0, 0, 0); width: auto; font-family: futura; color: rgb(35, 35, 35); }

#container-id-29- { min-height: 31px; margin: unset; background-color: rgba(238, 238, 238, 0); width: 207px; flex-direction: column; align-items: flex-start; justify-content: flex-start; }

#container-id-29- > :last-child, #container-id-29- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-29- > * { margin-right: 0px !important; margin-bottom: 4px !important; }

#button-id-30- { min-height: 38px; margin: unset; color: rgb(0, 0, 0); font-size: 15px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background-color: rgba(255, 255, 255, 0); width: auto; font-family: futura; }

#button-id-30-:hover, #button-id-30-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-30-:active, #button-id-30-.active { color: rgb(0, 0, 0); }

#button-id-34- { min-height: 38px; margin: unset; color: rgb(0, 0, 0); font-size: 15px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background-color: rgba(255, 255, 255, 0); width: auto; font-family: futura; }

#button-id-34-:hover, #button-id-34-.hover { color: rgba(0, 0, 0, 0.498); }

#button-id-34-:active, #button-id-34-.active { color: rgb(0, 0, 0); }

#container-id-35- { min-height: 20px; margin: unset; background-color: rgba(238, 238, 238, 0); justify-content: flex-end; align-items: center; width: 250px; }

#container-id-35- > :last-child, #container-id-35- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-35- > * { margin-right: 24px !important; margin-bottom: 0px !important; }

#button-id-36- { min-height: 40px; margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background-color: rgba(255, 255, 255, 0); width: 73px; font-weight: normal; font-family: futura; letter-spacing: 0.16px; line-height: 21.333333333333332px; border-style: solid; border-width: 2px; }

#button-id-36-:hover, #button-id-36-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-36-:active, #button-id-36-.active { color: rgb(0, 0, 0); }

#element-id-37- { padding: 8px 0px; background-color: rgb(255, 255, 255); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; border: 1px solid rgb(221, 221, 221); margin-top: 8px; }

[data-item-of="button-id-36-popover"] { font-size: 15px; background-color: rgba(255, 255, 255, 0); padding: 8px 16px; font-family: futura; }

[data-item-of="button-id-36-popover"]:hover, [data-item-of="button-id-36-popover"].hover { background-color: rgba(0, 0, 0, 0.1); }

[data-item-of="button-id-36-popover"]:active, [data-item-of="button-id-36-popover"].active { background-color: rgba(255, 255, 255, 0); }

#button-id-36-popover { left: 526.5333333333333px; }

#element-id-4- { font-style: normal; font-weight: 400; }

#element-id-5- { font-style: italic; font-weight: 300; }

#text-id-13- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 394px; letter-spacing: 0.20000001317576357px; line-height: 28.8888891119706px; font-size: 20px; font-family: futura; color: rgb(35, 35, 35); font-weight: 700; }

#text-id-14- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 394px; letter-spacing: 0.18000000189332402px; line-height: 26px; font-size: 18px; font-family: futura; color: rgb(35, 35, 35); }

#container-id-15- > * { margin-right: 0px !important; margin-bottom: 4px !important; }

#container-id-15- > :last-child, #container-id-15- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-15- { min-height: 150px; margin: unset; background-color: rgba(238, 238, 238, 0); width: 400px; flex-direction: column; align-items: flex-start; justify-content: flex-start; left: 350px; top: 538.5px; position: absolute; }

#text-id-42- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 394px; letter-spacing: 0.20000001317576357px; line-height: 28.8888891119706px; font-size: 20px; font-family: futura; color: rgb(35, 35, 35); font-weight: 700; }

#element-id-44- { font-style: italic; font-weight: 300; }

#text-id-46- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 394px; letter-spacing: 0.18000000189332402px; line-height: 26px; font-size: 18px; font-family: futura; color: rgb(35, 35, 35); }

#container-id-47- > * { margin-right: 0px !important; margin-bottom: 4px !important; }

#container-id-47- > :last-child, #container-id-47- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-47- { min-height: 150px; margin: unset; background-color: rgba(238, 238, 238, 0); width: 400px; flex-direction: column; align-items: flex-start; justify-content: flex-start; left: 350px; top: 538.5px; position: absolute; }

#container-id-4- > :last-child, #container-id-4- > .last-child { margin-right: 0px !important; }

#container-id-4- > :last-child, #container-id-4- > .last-child { margin-bottom: 0px !important; }

#container-id-4- > :last-child, #container-id-4- > .last-child { margin-right: 0px !important; }

#container-id-4- > :last-child, #container-id-4- > .last-child { margin-bottom: 0px !important; }

#text-id-90- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 616px; letter-spacing: 0.4800000020435878px; line-height: 54px; font-size: 48px; font-family: futura; color: rgb(35, 35, 35); }

#text-id-91- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 299px; letter-spacing: 0.18000000189332402px; line-height: 26px; font-size: 18px; font-family: futura; }

#container-id-92- > * { margin-right: 0px !important; margin-bottom: 4px !important; }

#container-id-92- > :last-child, #container-id-92- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-92- { min-height: 150px; margin: unset; background-color: rgba(238, 238, 238, 0); width: 400px; flex-direction: column; align-items: flex-start; justify-content: flex-start; }

#text-id-93- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 394px; letter-spacing: 0.20000001317576357px; line-height: 28.8888891119706px; font-size: 20px; font-family: futura; color: rgb(35, 35, 35); font-weight: 700; }

#text-id-94- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 394px; letter-spacing: 0.18000000189332402px; line-height: 26px; font-size: 18px; font-family: futura; color: rgb(35, 35, 35); }

#container-id-95- > * { margin-right: 0px !important; margin-bottom: 4px !important; }

#container-id-95- > :last-child, #container-id-95- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-95- { min-height: 150px; margin: unset; background-color: rgba(238, 238, 238, 0); width: 400px; flex-direction: column; align-items: flex-start; justify-content: flex-start; }

#text-id-96- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 394px; letter-spacing: 0.20000001317576357px; line-height: 28.8888891119706px; font-size: 20px; font-family: futura; color: rgb(35, 35, 35); font-weight: 700; }

#element-id-98- { font-style: italic; font-weight: 300; }

#text-id-100- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 394px; letter-spacing: 0.18000000189332402px; line-height: 26px; font-size: 18px; font-family: futura; color: rgb(35, 35, 35); }

#container-id-101- > :last-child, #container-id-101- > .last-child { margin-bottom: 0px !important; }

#container-id-101- > :last-child, #container-id-101- > .last-child { margin-right: 0px !important; }

#container-id-101- > :last-child, #container-id-101- > .last-child { margin-bottom: 0px !important; }

#container-id-101- > :last-child, #container-id-101- > .last-child { margin-right: 0px !important; }

#container-id-101- > * { position: static; margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-101- > :last-child, #container-id-101- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-101- { min-height: 176px; margin: unset; background-color: rgba(238, 238, 238, 0); width: 940px; flex-direction: column; align-items: flex-start; justify-content: flex-start; left: 80px; top: 388.5px; position: absolute; }

#button-id-132- { margin: unset; color: rgb(0, 0, 0); font-size: 15px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 32px; font-family: futura; width: 100px; }

#button-id-132-:hover, #button-id-132-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-132-:active, #button-id-132-.active { color: rgb(0, 0, 0); }

#container-id-0- { background-image: url("../img/-project-image-2.png"); }

@media (min-width:1025px) {#text-id-91- { display: none; }

#text-id-90- { display: none; }

#text-id-67- { display: none; }

#text-id-66- { display: none; }

#container-id-3- { }

#container-id-1- { flex-grow: 0; }

#text-id-11- { display: none; }

#container-id-2- { flex-grow: 0 !important; }

#container-id-5- { }

#container-id-6- { }

#text-id-23- { display: none; }

#text-id-21- { display: none; }

#container-id-29- { }

#button-id-36- { display: none; }}

@media (min-width:561px) and (max-width:1024px) {#container-id-125- { min-height: auto; }

#container-id-101- > * { margin-right: 0px !important; margin-bottom: 40px !important; }

#container-id-101- > :last-child, #container-id-101- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-101- { width: 100%; left: 0px; flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 40px; top: 569px; }

#container-id-95- { min-height: auto; }

#container-id-92- { min-height: auto; }

#text-id-91- { display: none; }

#text-id-90- { display: none; }

#container-id-47- { min-height: auto; }

#container-id-15- { min-height: auto; }

#container-id-0- {
  width: 40%; left: 0px; top: 109px; }

#container-id-2- {
  width: 60%;
  left: 39.97395833333333%; min-height: auto; top: 109px; flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 40px; background-color: rgba(255, 255, 255, 0); }

#container-id-1- {
  width: 41.90724889437358%; left: 0px; top: 574px; padding: 32px; display: none; }

#container-id-3- {
  width: 100%; left: 0px; padding: 32px 40px; top: 0px; }

#text-id-7- { letter-spacing: 0.3199999809265137px; line-height: 36px; font-size: 32px; width: 376px; }

#text-id-11- { width: 379px; }

#container-id-2- > :last-child, #container-id-2- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-2- > * { margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-5- {
  width: 12.259928385416668%;
  left: 84.82906818389893%; display: none; }

#container-id-6- {
  width: 59.63636363636364%;
  left: 40.36363636363636%; display: none; }

#container-id-4- {
  width: 100%; left: 0px; flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 40px; top: 569px; }

#container-id-4- > :last-child, #container-id-4- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-4- > * { margin-right: 0px !important; margin-bottom: 40px !important; }

#text-id-21- { display: none; }

#text-id-23- { display: none; }

#button-id-36- { display: none; }

#container-id-13- { min-height: auto; }

#button-id-36-popover { left: 367.616px; }

#text-id-66- { display: none; }

#text-id-67- { display: none; }

#container-id-68- { min-height: auto; }

#container-id-71- { min-height: auto; }

#container-id-77- > * { margin-right: 0px !important; margin-bottom: 40px !important; }

#container-id-77- > :last-child, #container-id-77- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-77- { width: 100%; left: 0px; flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 40px; top: 569px; }

#container-id-113- { min-height: auto; }}

@media (max-width:560px) {#button-id-142- { color: rgb(255, 255, 255); }

#container-id-77- > * { margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-77- > :last-child, #container-id-77- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-77- { width: 100%; left: 0px; flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 24px; top: 292px; }

#text-id-67- { font-family: futura; width: 100%; }

#text-id-66- { letter-spacing: 0.24000002861022948px; line-height: 30px; font-size: 24px; width: 100%; }

#container-id-0- {
  width: 100%; left: 0px; min-height: 292px; top: 0px; }

#container-id-2- {
  width: 100%; left: 0px; min-height: auto; padding: 24px; top: 292px; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: none; }

#container-id-1- {
  width: 100%; left: 0px; top: 601px; display: none; }

#container-id-3- {
  width: 100%; left: 0px; padding: 24px; top: 0px; min-height: 71px; flex-direction: row; align-items: center; justify-content: space-between; }

#text-id-7- { letter-spacing: 0.24000002861022948px; line-height: 30px; font-size: 24px; width: 100%; }

#container-id-2- > :last-child, #container-id-2- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-2- > * { margin-right: 0px !important; margin-bottom: 20px !important; }

#text-id-11- { font-family: futura; width: 100%; }

#container-id-5- {
  width: 1.4545454545454548%;
  left: 95.63636363636363%; display: none; }

#container-id-6- {
  width: 59.63636363636363%;
  left: 40.36363636363636%; display: none; }

#container-id-4- {
  width: 100%; left: 0px; flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 24px; top: 292px; }

#container-id-4- > :last-child, #container-id-4- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-4- > * { margin-right: 0px !important; margin-bottom: 24px !important; }

#text-id-21- { letter-spacing: 0.24000002861022948px; line-height: 30px; font-size: 24px; width: 100%; }

#text-id-23- { font-family: futura; width: 100%; }

#text-id-27- { color: rgb(255, 255, 255); }

#text-id-28- { color: rgb(255, 255, 255); }

#container-id-3- > :last-child, #container-id-3- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-3- > * { margin-right: 4px !important; margin-bottom: 0px !important; }

#container-id-35- { justify-content: flex-start; display: none; }

#button-id-30- { color: rgb(255, 255, 255); }

#button-id-34- { color: rgb(255, 255, 255); }

#button-id-36- { color: rgb(255, 255, 255); }

#button-id-36-:hover, #button-id-36-.hover { color: rgb(255, 255, 255); }

#button-id-36-:active, #button-id-36-.active { border-color: rgb(255, 255, 255); color: rgb(255, 255, 255); }

#element-id-37- { min-width: 195px; }

#button-id-36-popover { left: 179.5px; }

#text-id-90- { letter-spacing: 0.24000002861022948px; line-height: 30px; font-size: 24px; width: 100%; }

#text-id-91- { font-family: futura; width: 100%; }

#container-id-101- > * { margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-101- > :last-child, #container-id-101- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-101- { width: 100%; left: 0px; flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 24px; top: 292px; }}